<html>
    <head>
        <title>{% block title %}Price Beta{% endblock title %}</title>
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                <p> Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        {% block content %}
        {% endblock content %}
            
        </div>
    
        <p> Welcome to PriceBeta {{ user.username }}!</p>
    </body>
</html>